body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 0 auto 0 auto;
  font-size: 5.625rem;

  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

p {
  line-height: 2;
}

hr {
  border: dotted #def1f1 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999e;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
}
a:hover{
  color: #eaf6f6;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding: 62px;
}

.middle-container {
  font-family: "Merriweather", serif;
  margin: 100px 0;
}
.bottom-container {
  font-family: "Merriweather", serif;
  background-color: #66bfbf;
  padding: 40px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 173px;
  top: 25px;
}

.bottom-cloud {
  position: absolute;
  left: 205px;
  bottom: 398px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.yes-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Merriweather", serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  margin: auto;
  padding: 15px 0px;
}